<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Angular App</title>
		
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular.route.js"></script>
		<script type="text/javascript" src="js/homeModule/app.js"></script>
		<script type="text/javascript" src="js/homeModule/controllers/controller.js"></script>
		<script type="text/javascript" src="js/homeModule/Directives/directive.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		
	</head>
	<body>
	<div class="Content">
		<div class="bg-blue">
		 <section class="pageContent">
			<header class="header">
					<div class="header1">
						<img class="logo" src="img/companyLogo.png" alt="company_logo" />
					</div> 
					<div class="header2">	
						<div class="social">
							<a class="btn-social btn-facebook fa fa-facebook"></a>
							<a class="btn-social btn-vimeo fa fa-vimeo"></a>
							<a class="btn-social btn-tumblr fa fa-tumblr"></a>
							<a class="fa fa-twitter btn-social btn-twitter"></a>
							<a class="fa fa-instagram btn-social btn-instagram"></a>
						</div>								
						<div class="nav1">								
							<a class="nav-links active" href="javascript:void(0);">HOME</a>
							<a class="nav-links" href="javascript:void(0);">ABOUT</a>
							<a class="nav-links" href="javascript:void(0);">FEATURES</a>
							<a class="nav-links" href="javascript:void(0);">PORTFOLIO</a>
							<a class="nav-links" href="javascript:void(0);">BLOG</a>
							<a class="nav-links" href="javascript:void(0);">CONTACTS</a>							
						</div>	
					</div>
            </header>
		</section>
		</div>
		<section class="pageContent olfHidden pb-m" ng-app="homeApp" ng-controller="brandController">
		<div id="jqProducts">	
			<div class="siteNav">Home > Footwear > Men's Footwear > <span class="active">sport shoes<span></div>
			<h1 class="catagoryTitle">Sport Shoes</h1>
			<article class="leftCol">
					<div class="clearfix">
						<div class="bold txt-15 pull-left">BRAND</div>
						<div class="pull-right" id="jqDownArrow" ng-click="hideceta()"><span class="glyphicon glyphicon-menu-down"></span></div>
						<div class="pull-right hide" id="jqUpArrow" ng-click="showceta()"><span class="glyphicon glyphicon-menu-up"></span></div>
					</div>
					<div class="catagory clearfix" id="jqCatagories">
						<div class="clearfix pb-s"><input type="checkbox" ng-click="checking()" ng-model="adidasFilter"/><span class="pl-m">Adidas</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click="checking()" ng-model="filafilterModel" /><span class="pl-m">fila</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click="checking()" ng-model="lottofilterModel"/><span class="pl-m">lotto</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click="checking()" ng-model="nikefilterModel"/><span class="pl-m">nike</span></div>
						<!--<div class="clearfix pb-s"><input type="checkbox"/><span class="pl-m">puma</span></div>
						<div class="clearfix pb-s"><input type="checkbox"/><span class="pl-m">Reebok</span></div> -->
					</div>
					<div class="clearfix pt-m">
						<div class="bold txt-15 pull-left">Price</div>
						<div class="pull-right" id="jqDownArrowPri" ng-click="hidecetaPri()"><span class="glyphicon glyphicon-menu-down"></span></div>
						<div class="pull-right hide" id="jqUpArrowPri" ng-click="showcetaPri()"><span class="glyphicon glyphicon-menu-up"></span></div>
					</div>
					<div class="catagory clearfix" id="jqCatagoriesPri">
						<div class="clearfix pb-s"><input type="checkbox" ng-click = "PriceFilter()" ng-model="lowerPrice" /><span class="pl-m">Rs 1999 and below</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click = "PriceFilter()" ng-model="avg1Price" /><span class="pl-m">Rs 2000 - Rs 2999</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click = "PriceFilter()" ng-model="avg2Price"/><span class="pl-m">Rs 3000 - Rs 4999</span></div>
						<div class="clearfix pb-s"><input type="checkbox" ng-click = "PriceFilter()" ng-model="highPrice"/><span class="pl-m">Rs 5000 and above</span></div>
						
					</div>
			</article>
			<article class="rightCol">
					<div class="pt-s pull-right"><input class="searchBox" type="text" id="jqSearch" placeholder = "Search here" ng-model = "searchBox" /></div>
					<!--<search></search>-->
					<div id="jqNoMatch" class="hide pt-m align-c">No match found</div>
					<div class="pt-40" id="jqProductes">
					<all-Shoes></all-Shoes>
					<!-- <div id="adidasProduct"><adidas-Shoes></adidas-Shoes></div>
					<div id="filaProduct"><fila-Shoes></fila-Shoes></div>
					<div id="lottoProduct"><lotto-Shoes></lotto-Shoes></div>
					<div id="nikeProduct"><nike-Shoes></nike-Shoes></div> -->
					</div>
			</article>
		</div>
		<div class="productDetails">
			<shoes-Details></shoes-Details>
		</div>
		</section>
		<footer class="footer">
				<div class="pageContent">
					<div class="pt-xl">
					<div class="socser">	
						<input type="search" class="searchbox" placeholder="Search"/>
						<a class="btn-social btn-facebook fa fa-facebook" data-toggle="tooltip" data-placement="top" href="#" title="FACEBOOK"></a>
						<a class="btn-social btn-vimeo fa fa-vimeo" data-toggle="tooltip" data-placement="top" href="#" title="VIMEO" ></a>
						<a class="btn-social btn-tumblr fa fa-tumblr" data-toggle="tooltip" title="TUMBLR" data-placement="top"></a>
						<a class="fa fa-twitter btn-social btn-twitter" data-toggle="tooltip" title="TWITTER" data-placement="top"></a>
						<a class="fa fa-instagram btn-social btn-instagram" data-toggle="tooltip" title="INSTAGRAM" data-placement="top"> </a>
					</div>
					<div class="navi">
						<nav class="nav">
							<a href="javascript:void(0);" class="footer-navlinks">Home</a>
							<a href="javascript:void(0);" class="footer-navlinks">About</a>
							<a href="javascript:void(0);" class="footer-navlinks">Features</a>
							<a href="javascript:void(0);" class="footer-navlinks">Portfolio</a>
							<a href="javascript:void(0);" class="footer-navlinks">BLOG</a>
							<a href="javascript:void(0);" class="footer-navlinks">contacts</a>
						</nav> 
					</div>	
					</div>
				</div>
			</footer> 
	</div>
	</body>
</html>